argon2-cffi==25.1.0
argon2-cffi-bindings==26.1.0
certifi==2026.7.22
cffi==2.1.1
Faker==25.2.0
minio==7.2.7
numpy==2.4.6
pandas==2.2.2
psycopg2-binary==2.9.9
py4j==0.10.9.7
pycparser==3.0
pycryptodome==3.23.0
pyspark==3.5.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.3.post1
six==1.17.0
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.8.0
